<!--

This launch file is used to start the `rosa_exec` node from the `rosa` package. 
The node is configured with several parameters that control various aspects of its behavior.

Parameters:
- `rosa_main/estimation_num` (int): Number of estimations to perform.
- `rosa_main/pcd` (string): Path to the point cloud data file.
- `rosa_main/radius` (double): Radius parameter for the algorithm.
- `rosa_main/th_mah` (double): Threshold for Mahalanobis distance.
- `rosa_main/delta` (double): Delta parameter for the algorithm.
- `rosa_main/num_drosa` (int): Number of D-ROSA iterations.
- `rosa_main/num_dcrosa` (int): Number of DC-ROSA iterations.
- `rosa_main/k_KNN` (int): Number of nearest neighbors for KNN.
- `rosa_main/sample_r` (double): Sample radius.
- `rosa_main/alpha` (double): Alpha parameter for the algorithm.
- `rosa_main/pt_downsample_size` (double): Point downsample size.
- `rosa_main/estimation_number` (int): Number of estimations.
- `rosa_main/upper_bound_angle_inner_decomp` (double): Upper bound for angle in inner decomposition.
- `rosa_main/upper_bound_length_inner_decomp` (double): Upper bound for length in inner decomposition.
- `rosa_main/Prune` (bool): Whether to enable pruning.
- `rosa_main/lower_bound_length` (double): Lower bound for length.
- `rosa_main/lower_bound_prune_angle` (double): Lower bound for prune angle.
- `rosa_main/upper_bound_original_points_num` (int): Upper bound for the number of original points.
- `rosa_main/Ground` (bool): Whether to consider ground points.

The node's output is directed to the screen, and it is marked as required, meaning the launch will fail if the node does not start.
-->
<launch>

<node pkg ="rosa" name ="rosa_exec" type ="rosa_exec" output = "screen" required ="true">
  <param name="rosa_main/estimation_num" value="1000" type="int"/>
  
  <!-- /* JOINT */ -->
  <param name="rosa_main/pcd" value="$(find rosa)/data/simplejoint.pcd" type="string"/>
  <param name="rosa_main/radius" value="0.1" type="double"/>
  <param name="rosa_main/th_mah" value="0.01" type="double"/>
  <param name="rosa_main/delta" value="0.01" type="double"/>
  <param name="rosa_main/num_drosa" value="5" type="int"/>
  <param name="rosa_main/num_dcrosa" value="2" type="int"/>
  <param name="rosa_main/k_KNN" value="6" type="int"/>
  <param name="rosa_main/sample_r" value="0.05" type="double"/>
  <param name="rosa_main/alpha" value="0.3" type="double"/>
  <param name="rosa_main/pt_downsample_size" value="0.02" type="double"/>
  <param name="rosa_main/estimation_number" value="5" type="int"/>
  <param name="rosa_main/upper_bound_angle_inner_decomp" value="60.0" type="double"/>
  <param name="rosa_main/upper_bound_length_inner_decomp" value="1.0" type="double"/>
  <param name="rosa_main/Prune" value="true" type="bool"/>
  <param name="rosa_main/lower_bound_length" value="0.2" type="double"/>
  <param name="rosa_main/lower_bound_prune_angle" value="75.0" type="double"/>
  <param name="rosa_main/upper_bound_original_points_num" value="10000" type="int"/>
  <param name="rosa_main/Ground" value="false" type="bool"/>
</node>

</launch>